// menu styles
.menu {
  @include flex-center($jc: space-between);

  &__logo {
    margin-right: 90px;
  }

  &__list {
    @include flex-center($jc: null, $indent: 50px);
  }

  &__item {
    position: relative;
  }
}

.menu__link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: $basic-black;

  transition: color $animation-timing-function;

  &:hover,
  &:focus,
  &--current {
    color: $basic-blue;
  }

  &--current::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $basic-blue;
    border-radius: 2px;
  }
}
