/* Variables */
:root {
  --basic-grey-color: #757575;
  --secondary-grey-color: #f5f4fa;
  --deep-black-color: #000000;
  --basic-black-color: #212121;
  --secondary-black-color: #2f303a;
  --basic-blue-color: #2196f3;
  --secondary-blue-color: #188ce8;
  --overlay-blue-color: rgba(33, 150, 243, 0.9);
  --basic-white-color: #ffffff;
  --secondary-white-color: #f5f5f5;
  --alternative-white-color: #eeeeee;
  --alternative-rgba-white-color: rgba(255, 255, 255, 0.6);
  --white-color-100: rgba(255, 255, 255, 0.1);
  --header-border-grey-color: #ececec;
  --icon-gray-color: #afb1b8;
  --registration-comment-color: rgba(117, 117, 117, 0.5);

  --animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* common body styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--basic-grey-color);
  background-color: var(--basic-white-color);
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Styles for hiding content */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common styles */
.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--basic-black-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--basic-white-color);
  color: var(--icon-gray-color);

  transition: background-color var(--animation-timing-function),
    color var(--animation-timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--basic-blue-color);
  color: var(--basic-white-color);
}

.social-icon {
  fill: currentColor;
}

/* Header styles */
.header {
  border-bottom: 1px solid var(--header-border-grey-color);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-wrapper {
  display: flex;
  align-items: center;
}

.menu-logo {
  margin-right: 90px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--basic-blue-color);
}

.menu-logo .logo-part {
  color: var(--deep-black-color);
}

.menu-list,
.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu-item {
  position: relative;
}

.menu-link {
  display: block;
  padding: 32px 0;

  color: var(--basic-black-color);

  transition: color var(--animation-timing-function);
}

.menu-link:hover,
.menu-link:focus,
.menu-link-current {
  color: var(--basic-blue-color);
}



.menu-link-current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--basic-blue-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--basic-grey-color);
}

.contacts-item:first-child {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  color: currentColor;
  fill: currentColor;

  transition: color var(--animation-timing-function),
    fill var(--animation-timing-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--basic-blue-color);
  fill: var(--basic-blue-color);
}

.contacts-label {
  margin-left: 10px;
  color: currentColor;
}

/* Hero styles */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/jpg/main-image.jpg');
  background-repeat: no-repeat;
  background-color: var(--secondary-black-color);
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin: 0 auto;
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--basic-white-color);
}

.hero-button {
  margin-top: 30px;
  padding: 10px 32px;

  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: var(--basic-white-color);
  background-color: var(--basic-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--animation-timing-function),
    box-shadow var(--animation-timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Features styles */
.features {
  padding-top: 94px;
}

.features-container {
  display: flex;
}

.features-list {
  display: flex;
  margin: 0;
  gap: 30px;
}

.features-item {
  flex-basis: calc((100% - 90px) / 4);
}

.features-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--secondary-grey-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--basic-black-color);
}

.features-text {
  line-height: 1.71;
  color: var(--basic-grey-color);
}

/* Gallery styles */
.gallery-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.gallery-item {
  position: relative;

  flex-basis: calc((100% - 60px) / 3);
}

.gallery-picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-picture-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.overlay-text {
  padding: 27px 0;
}

/* Our Team styles */
.our-team {
  background-color: var(--secondary-grey-color);
}

.our-team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.our-team-item {
  flex-basis: calc((100% - 90px) / 4);
  flex-direction: column;
  text-align: center;
  color: var(--basic-grey-color);
  background-color: var(--basic-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-team-wrapper {
  padding: 30px 0;
}

.our-team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--basic-black-color);
}

.our-team-text {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

/* Partners styles */
.partners-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.partners-item {
  width: 170px;
  height: 92px;
}

.partners-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--icon-gray-color);
  border-radius: 4px;
  color: var(--icon-gray-color);

  transition: color var(--animation-timing-function), border-color var(--animation-timing-function);
}

.partners-link:hover,
.partners-link:focus {
  color: var(--basic-blue-color);
  border-color: var(--basic-blue-color);
}

.partners-icon {
  fill: currentColor;
}

/* Footer styles */
.footer {
  background-color: var(--secondary-black-color);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--basic-blue-color);
}

.footer-logo .logo-part {
  color: var(--basic-white-color);
}

.footer-address {
  font-style: normal;
}

.footer-list {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer .link-map {
  line-height: 1.71;
  text-decoration: none;
  color: var(--basic-white-color);
}

.footer-link {
  line-height: 1.71;
  color: var(--alternative-rgba-white-color);

  transition: color var(--animation-timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--basic-blue-color);
}

.social-title {
  margin-bottom: 20px;

  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-white-color);
  font-weight: 700;
}

.footer-social-link {
  background-color: var(--white-color-100);
  color: var(--basic-white-color);
}

.subscribe {
  margin-left: auto;
}

.subscribe-group {
  display: flex;
}

.subscribe-label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--basic-white-color);
}

.subscribe-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px 28px;
  color: var(--basic-white-color);
  background-color: var(--basic-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}

.subscribe-button::after {

  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/png/icon-send.png);
  color: var(--basic-white-color);
}

/* Portfolio styles */
.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-button {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  color: var(--basic-black-color);
  background-color: var(--secondary-grey-color);
  box-shadow: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--animation-timing-function),
    background-color var(--animation-timing-function), box-shadow var(--animation-timing-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--basic-white-color);
  background-color: var(--basic-blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-link {
  display: block;

  transition: box-shadow var(--animation-timing-function);
}

.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-link:hover .cards-overlay {
  transform: translateY(0);
}

.cards-thumb {
  position: relative;
  overflow: hidden;
  max-width: 370px;
  max-height: 294px;
}

.cards-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  display: block;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform var(--animation-timing-function);
  will-change: transform;

  width: 100%;
  height: 100%;
  background-color: var(--overlay-blue-color);
}

.cards-overlay-text {
  font-size: 18px;
  line-height: 1.6;
  color: var(--basic-white-color);
}

.cards-picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.cards-content {
  padding: 20px 24px;
  border: 1px solid var(--alternative-white-color);
  border-top: none;
}

.cards-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-black-color);
}

.cards-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--basic-grey-color);
}

/* modal window styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 150ms linear, visibility 150ms linear;
  will-change: opacity;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -60%);
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms ease-out;
  will-change: transform;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--basic-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: unset;

  transition: fill var(--animation-timing-function);
}

.modal-close-button:hover {
  fill: var(--basic-blue-color);
}


/* modal registration form styles */

label {
  display: block;
  margin: 0;
}

input {
  display: block;
  margin: 0;
}

.registration-form {
  padding: 40px;
  width: 100%;
  height: 100%;
}

.registration-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--basic-black-color);
  text-align: center;
}

.registration-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--basic-grey-color);
}

.input-field {
  position: relative;
  margin-bottom: 10px;
}

.registration-input {
  padding: 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--animation-timing-function);
}


.registration-input:focus {
  border-color: var(--basic-blue-color);
}

.registration-input::placeholder {
  color: var(--registration-comment-color);
  opacity: 0;
  transition: opacity var(--animation-timing-function);
}

.registration-input:focus::placeholder {
  opacity: 1;
}

.input-icon {
  position: absolute;

  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--basic-black-color);

  pointer-events: none;

  transition: fill var(--animation-timing-function);
}

.registration-input:focus+.input-icon {
  fill: var(--basic-blue-color);
}

.input-icon-alert {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.input-icon-success,
.input-icon-warning {
  opacity: 0;
  transform: scale(0.3);
  transform-origin: center;
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}

.input-icon-success {

  fill: rgb(74, 191, 10);
}

.registration-input:not(:placeholder-shown):required:valid~.input-icon-alert .input-icon-success {
  opacity: 1;
  transform: scale(1);
}

.input-icon-warning {
  fill: rgb(244, 209, 12);
}

.registration-input:not(:placeholder-shown):required:invalid~.input-icon-alert .input-icon-warning {
  opacity: 1;
  transform: scale(1);
}

.comment-input {
  margin-bottom: 20px;
  padding: 12px 16px;
  min-height: 120px;
}

.registration-comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  min-height: 120px;

  resize: none;
}

.registration-comment::placeholder {
  opacity: 1;
  color: var(--icon-gray-color);
}

.form-checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  user-select: none;
}

.icon-unchecked {
  opacity: 1;
  transition: 300ms;
}

.icon-checked {
  opacity: 0;
  transition: 300ms;
}

.checkbox:checked+.registration-icon .icon-checked {
  opacity: 1;
}

.checkbox:checked+.registration-icon .icon-unchecked {
  opacity: 0;
}

.registration-link {
  text-decoration: underline;
  color: var(--basic-blue-color);
  text-underline-position: under;
}

.registration-button {
  display: block;
  margin: auto auto;
  padding: 10px 52px;

  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--basic-white-color);
  background-color: var(--basic-blue-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--animation-timing-function);
}

.registration-button:hover,
.registration-button:focus {
  background-color: var(--secondary-blue-color);
}