// section ident mixin
@mixin section-indent($pt: 94px, $pb: $pt) {
  padding-top: $pt;
  padding-bottom: $pb;
}

// $Param [Number] - set vertical indent for sections
// usage:
// .section {
//   @include section-indent(120px);
// }
// output:
// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// flex mixin
@mixin flex-center($fd: null, $ai: center, $jc: center, $indent: null) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
  gap: $indent;
}

// grid mixin
@mixin grid($indent: 30px) {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}

// grid-item mixin
@mixin grid-item($items: 1, $indent: 30px) {
  flex-basis: calc((100% - $indent * ($items - 1)) / $items);
}
